body {
  background-color: #fffdea;
}

#hero {
  background-image: url("https://images.unsplash.com/photo-1485634476346-5c642f4b6722?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  width: 100%;
  text-align: center;
  position: relative;
  display: flex;
  align-items: flex-start;  
  justify-content: center;  
  color: white;
  margin-bottom: auto
}

#herocontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title, .subtitle {
  color: black !important;
}

.title, .title-home, .subtitle-home, .cta-blue {
  font-family: 'Montserrat', Arial, sans-serif;
}

.title-home {
  color: rgb(28, 28, 28) !important;
}

.subtitle-home {
  color: white !important;
  background-color: #27272d66;
  padding: 3px 5px;
}

.cta-blue {
  background-color: transparent !important;
  font-size: 1rem !important;
  width: 12em;
  padding: 1em !important;
  border-radius: 30px !important;
  background-color: rgba(0, 255, 247, 0.91) !important;
  color: black !important;
}

.cta-blue:hover {
  color: black !important;
  background-color: rgba(255, 255, 0, 0.76) !important;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 1.5em !important;
  }
  .subtitle {
    font-size: 1.1em !important;
  }
  .title-home {
    font-size: 1.778em !important;
  }
  .subtitle-home {
    font-size: 1.5em !important;
    width: 90%;
  }
  .dgroup-page {
    font-size: 1.7em !important;
  }
}

.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.page {
  background-image: url("https://images.unsplash.com/photo-1450849608880-6f787542c88a?q=80&w=2021&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  margin-top: 80px;
  min-height: 75vh;
}

@media screen and (max-width: 768px) {
  .page {
    min-height: 81vh;
  }
}

.dgroup-page {
  color: white !important;
}

.card-content {
  background-color: rgba(254, 254, 154, 0.797) !important;
  border-radius: 7px !important;
  padding: 15px !important;
}

.card-detail {
  width: 50%;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .card-detail {
    width: 90%;
  }
}

label {
  color: white;
  font-weight: bold;
}

.label-name {
  width: 5rem;
}

.label-next {
  margin-left: 1.5rem;
}

select {
  background-color: black;
  color: white;
  width: 15rem;
  height: 2rem;
  padding: 0 7px;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  font-size: 1em;
}

.custom-select {
  position: relative;
  display: inline-block;
  margin-top: 5px;
}

.custom-select select {
  appearance: none; /* Remove default arrow */
  -webkit-appearance: none; /* Remove default arrow for Safari */
  padding-right: 30px; /* Space for custom arrow */
}

.custom-select::after {
  content: '▼'; /* Custom arrow character */
  position: absolute;
  top: 50%;
  right: 14px; /* Adjust positioning */
  transform: translateY(-50%);
  pointer-events: none; /* Prevent clicking on the arrow */
}

@media screen and (max-width: 768px) {
  select {
    width: 12rem;
  }
  .labels {
    display: flex;
    flex-direction: column;
    align-items: start !important;
  }
  .label-next {
    margin-left: 0;
  }
}

/* #dgroup-details {
  background-color: transparent !important;
} */

#dgroup-details:hover {
  cursor: pointer;
}

nav.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: white;
  height: 80px;
}

.navbar-logo-container {
  width: 10vw;
  background-color: white !important;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .navbar-logo-container {
    width: 80px;
  }
}

.navbar-logo {
  transition: transform 0.3s ease;
  transform: scale(2.2);
}

.navbar-logo:hover {
  transform: scale(2.4);
}

.navbar-items {
  display: flex;
  align-items: center;
}

.navbar-brand {
  height: 100%;
}

.navbar-option {
  color: black;
  text-align: center;
  font-size: 1.1rem;
  background-color: white;
  width: 6vw;
}

.navbar-option:hover {
  background-color: white;
  font-weight: bold;
}

.navbar-contact {
  width: 12vw;
  margin-left: 1rem;
}

.navbar-item:active, .navbar-item:focus, .navbar-item:focus-within {
  background-color: transparent;
  --bulma-navbar-item-background-a: 0;
}

@media screen and (max-width: 1023px) {
  .navbar-menu.is-active {
      display: flex !important;
      flex-direction: column !important;
      background-color: white;
  }

  .navbar-items {
    margin-right: 0 !important;
  }

  .buttons {
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
  }

  .navbar-option {
    width: 100%;
  }
  
  .navbar-contact {
    margin-left: 0px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #181B20 !important;
  color: white;
  height: 100px !important;
  --bulma-footer-padding: 1rem !important;
}

p {
  margin-block-end: 5px !important;
}