body {
  background-color: #fffdea;
}

#hero {
  background-image: url("https://media.istockphoto.com/id/1398059965/photo/study-the-bible.jpg?s=2048x2048&w=is&k=20&c=s66RW218xsWD-xFh2XKpwA8Xi83rm2YVzh6z6pnVpPk=");
  background-size: cover;
  background-position: center;
  width: 100%;
  text-align: center;
  position: relative;
  display: flex;
  align-items: flex-start;  
  justify-content: center;  
  color: white;
  margin-bottom: auto
}

#herocontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #182fc6 !important;
}

.subtitle {
  color: #2920ac !important;
}

.dgroup-page {
  color: #2920ac !important;
} 

.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.page {
  margin-top: 5vh;
  min-height: 80vh;
}

.card-content {
  background-color: #f6fabb !important;
  border: 1px solid #b0b0b0;
}

label {
  color: black;
}

.navbar-menu.is-active, .navbar-item {
  color: #65edd8;
  text-align: center;
  font-size: 1.1rem;
}

.navbar-menu.is-active {
  background-color: #2ffcf9;
}

nav.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #2ffcf9;
  height: 5vh;
}

.navbar-item:hover {
  background-color: #9afffd;
}

.navbar-item:active, .navbar-item:focus, .navbar-item:focus-within {
  background-color: transparent;
  --bulma-navbar-item-background-a: 0;
}