body {
  background-color: #fffdea;
}

#hero {
  background-image: url("https://media.istockphoto.com/id/1398059965/photo/study-the-bible.jpg?s=2048x2048&w=is&k=20&c=s66RW218xsWD-xFh2XKpwA8Xi83rm2YVzh6z6pnVpPk=");
  background-size: cover;
  background-position: center;
  width: 100%;
  text-align: center;
  position: relative;
  display: flex;
  align-items: flex-start;  
  justify-content: center;  
  color: white;
  margin-bottom: auto
}

#herocontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #182fc6 !important;
}

.subtitle {
  color: #2920ac !important;
}

.dgroup-page {
  color: #2920ac !important;
} 

.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.page{
  background-image: url("https://media.istockphoto.com/id/672056516/photo/pink-grungy-background.jpg?s=2048x2048&w=is&k=20&c=FhkYEbVC8ro0fFF6lk65hZIFcCJQgYV3lBlMhVu-mBI=");
  margin-top: 5vh;
  min-height: 80vh;
}

.card-content {
  background-color: #f6fabb !important;
  border: 1px solid #b0b0b0;
}

.card-detail {
  width: 50%;
  margin: auto;
}

label {
  color: black;
}

#dgroup-details:hover {
  cursor: pointer;
}

.navbar-menu.is-active, .navbar-item {
  color: black;
  text-align: center;
  font-size: 1.1rem;
}

.navbar-menu.is-active {
  background-color: #eaff96;
}

nav.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: white;
  height: 12vh;
}

.navbar-items {
  display: flex;
  align-items: center;
}

.navbar-item {
  transition: transform 0.3s ease;
}

.navbar-item:hover {
  background-color: white;
  color: blue;
  transform: scale(1.1);
}

.navbar-logo-container:hover {
  background-color: white;
}

.navbar-logo {
  transition: transform 0.3s ease;
  transform: scale(2.2);
}

.navbar-logo:hover {
  transform: scale(2.3);
}

.navbar-item:active, .navbar-item:focus, .navbar-item:focus-within {
  background-color: transparent;
  --bulma-navbar-item-background-a: 0;
}

.footer {
  background-color: #181B20;
  color: white;
  padding: 1rem 1.5rem !important;
  height: 15vh;
}